tools/gnatmetric/metrix.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2009 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

        <xs:element name="global">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="metric" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="coupling" minOccurs="0" maxOccurs="1"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>

        <xs:element name="file">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="metric" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="unit" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" type="xs:string"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="unit">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="metric" minOccurs="0" maxOccurs="unbounded"/>
                                <xs:element ref="unit" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                        <xs:attribute name="name" use="required" type="xs:string"/>
                        <xs:attribute name="line" use="required" type="xs:byte"/>
                        <xs:attribute name="kind" type="xs:string"/>
                        <xs:attribute name="col" use="required" type="xs:byte"/>
                </xs:complexType>
        </xs:element>

        <xs:element name="metric">
                <xs:complexType>
                        <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                        <xs:attribute name="name" use="required" type="xs:string"/>
                                </xs:extension>
                        </xs:simpleContent>
                </xs:complexType>
        </xs:element>

        <xs:element name="coupling">
                <xs:complexType>
                        <xs:sequence>
                                <xs:element ref="file" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
</xs:schema>
